<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Product Id="*" Name="GnuWin32" Language="1033" Version="1.0.0.0" Manufacturer="Silvenga"
           UpgradeCode="199dcdab-7578-4f5d-af6e-897f76394995">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Condition Message="You need to be an administrator to install this product.">Privileged</Condition>

    <Icon Id="gnuwin32.ico" SourceFile="SourceDir\gnuwin32.ico" />
    <Property Id="ARPPRODUCTICON" Value="gnuwin32.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="GnuWin32BinDirRef" Name="GnuWin32">
        </Directory>
      </Directory>
      <Component Id="GnuWin32Path" Guid="57DB6020-18EB-48B1-8D7B-F2C74EE1F2A0">
        <Environment Id="PATH" Name="PATH" Value="[GnuWin32BinDirRef]bin" Permanent="no" Part="last" Action="set"
                     System="yes" />
      </Component>
    </Directory>

    <Feature Id="Complete" Title="GnuWin32" Level="1">
      <ComponentGroupRef Id="GnuWin32Bin" />
      <ComponentRef Id="GnuWin32Path" />
    </Feature>

  </Product>

</Wix>